env
**/*.pyc
**/__pycache__
media
.DS_Store
*.sqlite3
*.env
.coverage

# Accept these files in the repository
!.gitignore
!.travis.yml
/.env
/.vscode
/static
/ftp

geckodriver.log
bower

CACHE
backups/*
pdfs/*

job_sum_up_err_log
.envs
db.json
htmlcov
.cov

dataset/*